* {
    margin: 0;
    padding: 0;

}
header {
  padding: 0;
  width: auto;
  height: 80px; /*5D7BA6*/
  background: #571C1E;
  z-index: 100;
  transition: 0.3s top;
}
a {
  text-decoration: none;
}
.menu_rigth {
  list-style-type: none;
  padding: 0;
  margin-right: 0;
}
.menu_rigth a {
  text-decoration: none;
  font-family: sans-serif;
  font-weight: bold;
  display: inline-block;
  font-size: 1em;
  letter-spacing: 0.5px;
  color: #FFFFFF;
}
.menu_rigth li {
  display: inline-block;
  width: 170px;
  padding: 20px 5px 5px 5px;
  float: right;
  text-align: center;
}
.menu_rigth li:hover {
  border-bottom: 5px solid #FFFFFF;
}
.header-fixed {
  position: fixed;
  top: -100%;
  width: 100%;
  left: 0;
}
.header_is_show {
  top: 0;
}
ul {
  padding: 0;
}
.home {
  width: 50px;
  height: 50px;
  padding: 15px 20px;
  float: left;
}
.name {
  height: 600px;
  margin: 0;
  width: auto;
}
.name > .inner {
  width: 1200px;
  padding: 100px 0;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 5em;
  letter-spacing: 0.5px;
  text-align: center;
  margin: 0 auto;
}
.home_page {
  margin: 0;
  width: auto;
}
.home_page > .inner {
  width: 1000px;
  padding: 90px 0;
  font-family: sans-serif;
  font-size: 2em;
  letter-spacing: 0.5px;
  text-align: center;
  color: #FFFFFF;
  margin: 0 auto;
}
.list {
  text-align: left;
}
.list > p {
  margin: 0;
}
.description {
  margin-top: 70px;
  font-size: 0.75em;
  text-align: justify;
}
.organizator, .bold{
  font-weight: bold;
  font-size: 1em;
  margin: 50px 0;
}
.organizator:hover {
  border-bottom: 5px solid #FFFFFF;
}
.date {
  padding: 50px;
  margin: 0;
  font-weight: bold;
  font-size: 1.5em;
  letter-spacing: 0.75px;
}
.logo {
  align-content: center;
  width: 150px;
  height: 150px;
  margin: 0 30px;
}
.photo {
  width: 300px;
  height: 300px;
  border-radius: 150px;
  margin: 0 auto;
}
.surname {
  font-weight: bold;
  font-size: 1em;
  margin: 10px auto;
}
.post, .phone, .email {
  letter-spacing: 1px;
  margin: 10px auto;
}
.degree {
  font-size: 0.75em;
  margin: 10px auto;
}
.workplace {
  font-weight: bold;
  font-size: 0.75em;
  margin: 10px auto;
}
.programm_committee {
  width: auto;
  height: 700px;
  text-align: center;
  margin: 0;
}
.organizing_committee {
  background-color: #A04D4D;
  width: auto;
  height: 600px;
  text-align: center;
  color: #FFFFFF;
  margin: 0;
}
.head {
  font-weight: bold;
  font-family: sans-serif;
  font-size: 3em;
  letter-spacing: 0.5px;
  text-align: center;
  padding: 50px 0;
}
.slider {
  max-width: 1320px;
  font-family: sans-serif;
  font-size: 1.5em;
  letter-spacing: 0.5px;
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}
.slider_items {
  max-width: 1200px;
}
.slider_item {
  max-width: 300px;
  padding: 0 50px;
}
.progr_comm_next,
.progr_comm_prev,
.org_comm_prev,
.org_comm_next,
.loc_next,
.loc_prev {
  position: relative;
  height: 60px;
  width: 60px;
  cursor: pointer;
}
.org_comm_next,
.progr_comm_next,
.loc_next {
  right: 0;
}
.seminar_programm {
  width: auto;
  height: 400px;
}
.seminar_programm > .inner {
  width: 1000px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 2em;
  letter-spacing: 0.5px;
  text-align: center;
  margin: 0 auto;
}
.location {
  background-color: #574e4e;
  width: auto;
  height: 1150px;
  color: #FFFFFF;
}
.location > .inner {
  width: 1000px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 2em;
  letter-spacing: 0.5px;
  text-align: center;
  margin: 0 auto;
}
.loc {
  margin: 50px auto;
  max-width: 1200px;
}
.dubki {
  width: 300px;
  height: 200px;
}
.location > .inner > .description {
  font-weight: normal;
  margin: 0 auto;
  padding: 10px 0;
}
.registration_fee {
  background-color: #A04D4D;
  width: auto;
  height: 400px;
  text-align: center;
  color: #FFFFFF;
  margin: 0;
}
.registration_fee > .inner {
  width: 1000px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 2em;
  letter-spacing: 0.5px;
  text-align: center;
  margin: 0 auto;
}
.contacts {
  height: 650px;
}
.cont {
  max-width: 800px;
  font-family: sans-serif;
  font-size: 1.5em;
  letter-spacing: 0.5px;
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}
.cont_ {
  max-width: 300px;
  padding: 0 50px;
}
