* {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.header {
  position: relative;
  max-width: 100%;
  margin: 5px auto;
  padding: 0px 10px;
}
.container {
  position: fixed;
  padding: 0;
  width: 100%;
  top: 0;
  left: 0;
  height: 80px;
  transition: 0.3s top;
  z-index: 5;
}
.container:before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: #571C1E;
}
.header_body {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_list {
  display: flex;
  padding: 15px 0 0 0;
}
.header_list li {
  list-style: none;
  width: 170px;
  margin: 0 0 0 10px;
  text-align: center;
}
.header_list li:hover {
  border-bottom: 3px solid #FFFFFF;
}
.header_list a {
  text-decoration: none;
  font-family: sans-serif;
  font-weight: bold;
  display: inline-block;
  font-size: 1em;
  letter-spacing: 0.5px;
  color: #FFFFFF;
}
a {
  text-decoration: underline;
  color: #000;
  cursor: pointer;
}
.header_burger {
  display: none;
}
ul {
  padding: 0;
}
.home {
  width: 50px;
  height: 50px;
  padding: 5px 20px;
  float: left;
}
.name {
  height: auto;
  margin: 0;
}
.name > .inner {
  width: 1200px;
  padding: 150px 0 100px 0;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 5em;
  letter-spacing: 0.5px;
  text-align: center;
  margin: 0 auto;
}
.home_page {
  margin: 0;
  width: auto;
  height: auto;
}
.home_page > .inner {
  width: 1000px;
  padding: 90px 0;
  font-family: sans-serif;
  font-size: 2em;
  letter-spacing: 0.5px;
  text-align: center;
  color: #FFFFFF;
  margin: 0 auto;
}
.first {
  background-color: #A04D4D;
}
.second {
  background-color: #574e4e;
}
.list {
  text-align: left;
}
.list > p {
  margin: 0;
}
.description {
  margin-top: 70px;
  font-size: 0.75em;
  text-align: justify;
}
.organizator {
  font-weight: bold;
  font-size: 1em;
}
.bold {
  font-weight: bold;
  font-size: 1em;
  padding: 50px 0;
}
.date {
  padding: 50px 0 0 0;
  margin: 0;
  font-weight: bold;
  font-size: 1.5em;
  letter-spacing: 0.75px;
}
.logo {
  align-content: center;
  width: 150px;
  height: 150px;
  margin: 0 30px;
}
.photo {
  width: 300px;
  height: 300px;
  border-radius: 150px;
  margin: 0 auto;
}
.surname {
  font-weight: bold;
  font-size: 1em;
  margin: 10px auto;
}
.post, .phone, .email {
  letter-spacing: 1px;
  margin: 10px auto;
}
.degree {
  font-size: 0.75em;
  margin: 10px auto;
}
.workplace {
  font-weight: bold;
  font-size: 0.75em;
  margin: 10px auto;
}
.programm_committee {
  width: auto;
  height: auto;
  text-align: center;
  margin: 0;
}
.organizing_committee {
  background-color: #A04D4D;
  width: auto;
  height: auto;
  text-align: center;
  color: #FFFFFF;
  margin: 0;
}
.head {
  font-weight: bold;
  font-family: sans-serif;
  font-size: 3em;
  letter-spacing: 0.5px;
  text-align: center;
  padding: 50px 0 0 0;
}
.slider {
  max-width: 1320px;
  font-family: sans-serif;
  font-size: 1.5em;
  letter-spacing: 0.5px;
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  padding: 50px 0;
}
.slider_items {
  max-width: 1200px;
}
.slider_item {
  max-width: 300px;
  padding: 0 50px;
}
.progr_comm_next,
.progr_comm_prev,
.org_comm_prev,
.org_comm_next,
.loc_next,
.loc_prev {
  position: relative;
  height: 60px;
  width: 60px;
  cursor: pointer;
  padding: 70px 0;
}
.org_comm_next,
.progr_comm_next,
.loc_next {
  right: 0;
}
.seminar_programm {
  width: auto;
  height: auto;
}
.seminar_programm > .inner {
  width: 1000px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 2em;
  letter-spacing: 0.5px;
  text-align: center;
  margin: 0 auto;
  padding: 50px 0;
}
.location {
  background-color: #574e4e;
  width: auto;
  height: auto;
  color: #FFFFFF;
}
.location > .inner {
  width: 1000px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 2em;
  letter-spacing: 0.5px;
  text-align: center;
  margin: 0 auto;

}
.location > .inner.up {
    padding: 50px 0 0 0;
}
.location > .inner.down {
    padding: 0 0 50px 0;
}
.map {
  padding: 30px 80px 0 80px
}
.loc {
  max-width: 1200px;
  padding: 0;
}
.dubki {
  width: 300px;
  height: 200px;
}
.location > .inner > .description {
  font-weight: normal;
  margin: 0 auto;
  padding: 10px 0;
}
.registration_fee {
  background-color: #A04D4D;
  width: auto;
  height: auto;
  text-align: center;
  color: #FFFFFF;
  margin: 0;
}
.registration_fee > .inner {
  width: 1000px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 2em;
  letter-spacing: 0.5px;
  text-align: center;
  margin: 0 auto;
  padding: 0 0 50px 0;
}
.contacts {
  height: auto;
}
.cont {
  max-width: 720px;
  font-family: sans-serif;
  font-size: 1.5em;
  letter-spacing: 0.5px;
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  padding: 50px 0;
}
.cont_ {
  max-width: 300px;
  padding: 0 30px;
}
@media (max-width: 1300px) {
  .container {
    height: 50px;
  }
  .container:before {
    z-index: 5;
    height: 50px;
  }
  .home {
    width: 30px;
    height: 30px;
    padding: 0;
    float: left;
    z-index: 7;
  }
  .header_burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 7;
  }
  .header_burger.active:before {
    transform:rotate(45deg);
    top: 9px;
  }
  .header_burger.active:after {
    transform:rotate(-45deg);
    bottom: 9px;
  }
  .header_burger.active > span {
    transform: scale(0);
  }
  .header_burger:before, .header_burger:after {
    content: '';
    background-color: #FFFFFF;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
  }
  .header_burger:before {
    top: 0;
    transition: all 0.5s ease 0s;
  }
  .header_burger:after {
    bottom: 0;
    transition: all 0.5s ease 0s;
  }
  .header_burger > span {
    position: absolute;
    background-color: #fff;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
  }
  .header_menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 300px;
    background-color: #571C1E;
    transition: all 0.5s ease 0s;
  }
  .header_menu.active {
    top: 0;
    transition: all 0.5s ease 0s;
  }
  .header_body {
    position: relative;
    display: flex;
    justify-content: none;
    align-items: center;
    padding: 10px 20px;
  }
  .header_list {
    padding: 60px 0 0 0;
    flex-direction: column;
  }
  .header_list li {
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 10px 0;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
  }
  .header_list li:hover {
    border-bottom: none;
  }
  .name {
    height: 400px;
  }
  .name > .inner {
    width: 800px;
    font-size: 3em;
    padding: 110px 0;
  }
  .second {
    height: 950px;
  }
  .home_page > .inner {
    width: 800px;
    font-size: 2em;
  }
  .date {
    font-size: 1.2em;
  }
  .location {
    height: 1850px;
  }
  .location > .inner {
    width: 800px;
    font-size: 2em;
  }
  .slider {
    width: 800px;
  }
  .slider_items {
    width: 680px;
  }
  .slider_item {
    max-width: 300px;
    padding: 0 20px;
  }
  .map {
    padding: 30px 0 0 0;
  }
  .seminar_programm > .inner {
    width: 800px;
  }
  .registration_fee > .inner {
    width: 800px;
    font-size: 1.5em;
  }
}
@media (max-width: 800px) {
  .name {
    height: auto;
  }
  .name > .inner {
    width: 90%;
    font-size: 2.25em;
    padding: 110px 0 80px 0;
  }
  .home_page {
    font-size: 0.75em;
  }
  .first {
    height: auto;
  }
  .second {
    height: auto;
  }
  .home_page > .inner {
    width: 90%;
  }
  .date {
    font-size: 1.2em;
  }
  .head {
    font-size: 2.5em;
  }
  .location {
    height: auto;
  }
  .location > .inner {
    max-width: 90%;
    font-size: 2em;
  }
  .location > .inner > .description {
    font-size: 0.7em;
  }
  .slider {
    width: 420px;
  }
  .slider_items {
    width: 300px;
  }
  .slider_item {
    max-width: 300px;
    padding: 0;
  }
  .map {
    padding: 30px 0 0 0;
  }
  .registration_fee > .inner {
    width: 90%;
    font-size: 2em;
  }
  .seminar_programm > .inner {
    width: 90%;
  }
  .cont {
    display: block;
    width: 300px;
  }
  .cont_ {
    padding: 0 0 30px 0;
  }
}
@media (max-width: 425px) {
  .name > .inner {
    font-size: 1.5em;
  }
  .head {
    font-size: 2em;
  }
  .map {
    padding: 30px 0 0 0;
  }
  .location > .inner.up {
    font-size: 1.5em;
  }
  .location > .inner.down > .bold {
    font-size: 0.7em;
    padding: 50px 0 0 0;
  }
  .logo {
    align-content: space-between;
    width: 120px;
    height: 120px;
    margin: 0;
    padding: 0 10px;
  }
}
@media (max-width: 420px) {
  .slider {
    width: 100%;
  }
  .progr_comm_next,
  .progr_comm_prev,
  .org_comm_prev,
  .org_comm_next,
  .loc_next,
  .loc_prev {
    height: 50px;
    width: 50px;
  }
}
@media (max-width: 375px) {
  .name > .inner {
    font-size: 1.7em;
  }
  .slider {
    width: 280px;
  }
  .slider_items {
    width: 200px;
  }
  .slider_item {
    max-width: 200px;
    padding: 0;
  }
  .loc_next,
  .loc_prev {
    padding: 40px 0;
  }
  .photo {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    margin: 0 auto;
  }
  .dubki {
    width: 200px;
    height: 133px;
  }
  .location > .inner.down > .bold {
      font-size: 0.7em;
  }
  .progr_comm_next,
  .progr_comm_prev,
  .org_comm_prev,
  .org_comm_next,
  .loc_next,
  .loc_prev {
    height: 40px;
    width: 40px;
  }
}
@media (max-width: 320px) {
  .name > .inner {
    font-size: 1.5em;
  }
  .head {
    font-size: 1.7em;
  }
  .registration_fee > .inner {
    font-size: 1.7em;
  }
  .seminar_programm > .inner {
    font-size: 1.7em;
  }
}
